body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: var(--header-color);
  display: flex;
}

.bloc-de-notas-title {
  font-size: 300%; /* Hace el título tres veces más grande */
  font-family: "Lucida Calligraphy", "Arial Black", sans-serif; /* Utiliza una fuente gótica */
  color: rgb(231, 221, 127); /* Cambia el color del texto a blanco */
  text-align: justify; /* Centra el texto */
  padding: 5px; /* Añade algo de espacio alrededor del texto */
  background-color: rgb(0, 60, 255); /* Cambia el color de fondo a azul */
  display: inline-block; /* Hace que el contenedor se ajuste al contenido */
  width: fit-content; /* Hace que el contenedor se ajuste al contenido */
  margin: 0; /* Centra horizontalmente */
}

.img-pequena {
  width: 100%; /* Reduce el ancho de la imagen al 25% de su tamaño original */
  display: block; /* Hace que la imagen sea un elemento de bloque para controlar su ancho */
  margin: auto; /* Centra la imagen horizontalmente */
}
 
 /* Estilo para el párrafo con sangría */
 .sangria {
  text-indent: 30px; /* Establece una sangría de 20px */
}
 /* Estilo para el párrafo justificado */
 .justificado {
  text-align: justify; /* Justifica el texto */
}
main {
  background-color: var(--body-color);
}
.sidebar {
  width: 200px;
  background-color:#b5b2b9;
  padding: 20px;
}

.sidebar h5 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

/* Estilo para el pie de página final */
.footerfinal {
  color: white; /* Letras blancas */
  background-color: #4e5bd3; /* Fondo en tono azul a morado */
  text-align: center; /* Centra el contenido */
  
}
